*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:22px;
}
body{
  min-height: 100vh;
  font-family:'Roboto','sans-serif','Oxygen','Ubuntu','Fire Sans','Droid Sans';
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:'graysacle';
}
.App{
  display: flex;
  flex-direction: column;
  justify-content: center;
}